.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primery-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--current {
        position: relative;
        color: var(--accent-color);
    }

    &--current::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        display: inline-block;
        margin-right: 10px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }  

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

