.footer__address {

    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}


.footer__location {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    @media screen and (min-width: 480px) {
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.footer__contact li:not(:last-child) {
    @media screen and (min-width: 480px) {
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.footer__contact-link {
    color: var(--transparency-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

