.callback-form {
    padding: 40px;
    width: 528px;
}

.callback-form__heading {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

.callback-form__field {
    margin-bottom: 10px;
    text-align: left;
    position: relative;

    &--comment {
        text-align: left;
        margin-bottom: 20px;
    }
}

.callback-form__label {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}

.callback-form__input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid var(--accent-color);
    }

    &:focus+.callback-form__icon {
        color: var(--accent-color);
    }
}

.callback-form__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primery-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form__comment {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid var(--accent-color);
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

