:root {
    --primery-text-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --primery-button-color: #188CE8;
    --white-color: #ffffff;
    --black-color: #000000;
    --background-darkgray-color: #2F303A;
    --background-lightgray-color: #F5F4FA;
    --transparency-white-color: rgba(255, 255, 255, 0.6);
    --line-header: #ECECEC;
    --icon-grey-color: #AFB1B8;
}