.about__item {
    position: relative;
}

.about__description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);

}